<h2>Sponsor List</h2>
<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact Person</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Sponsor Type</th>
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sponsor of sponsors">
    <td><input  [(ngModel)]="sponsor.name" placeholder="Sponsor name" />
    <td>
      <input  [(ngModel)]="sponsor.contact_person" placeholder="Contact Person" />
    </td>
    <td>
      <input  [(ngModel)]="sponsor.email" placeholder="Enter email" />
    </td>
    <td>
      <input [(ngModel)]="sponsor.phone_number" placeholder="Enter phone" />
    </td>
    <td>
      <input [(ngModel)]="sponsor.sponsor_type" placeholder="Enter Sponsor Type" />
    </td>
    <td><input [(ngModel)]="sponsor.notes" placeholder="Enter Notes" />
    <td>
      <button (click)="updateSponsor(sponsor.name, sponsor.contact_person, sponsor.email, sponsor.phone_number, sponsor.notes, sponsor.sponsor_id)">Update</button>
    </td>

  </tr>
  </tbody>
</table>
